.header_link {
	color: #fff;
}
.header_link.is-active {
	font-weight: bold;
	position: relative;
}
.header_link.is-active::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -5px;
	border-bottom: 2px solid #fff;
}

.footer_logo {
	color: #000;
	font-size: 14px;
}
