.header_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 15px 50px;
	box-sizing: border-box;
	background-color: #000;
}

.header_link_wrapper {
	display: flex;
}

.header_link {
	padding: 2px 6px;
	display: flex;
	align-items: center;
}

.header_link:not(:first-child) {
	border-left: 1px solid #fff;
}
